<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Wardrobe!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("All Tops", "Index", "Tops")</li>
                    <li>@Html.ActionLink("All Bottoms", "Index", "Bottoms")</li>
                    <li>@Html.ActionLink("All Shoes", "Index", "Shoes")</li>
                    <li>@Html.ActionLink("All Accessories", "Index", "Accessories")</li>
                    <li>@Html.ActionLink("All Outfits", "Index", "Outfits")</li>

                </ul>
            </div>
        </div>
    </div>

    <aside class="navbar-collapse collapse"> 
        <ul class="nav navbar-nav">
    <li>@Html.ActionLink("New Top", "Create", "Tops")</li>
    <li>@Html.ActionLink("New Bottom", "Create", "Bottoms")</li>
    <li>@Html.ActionLink("New Shoes", "Create", "Shoes")</li>
    <li>@Html.ActionLink("New Accessory", "Create", "Accessories")</li>
    <li>@Html.ActionLink("New Outfit", "Create", "Outfits")</li>

</ul>
    </aside>
    <div class="container body-content">
        <article>
            @RenderBody()
        </article>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cameron Denton Wardrobe Project</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
