@model IEnumerable<WardrobeWeb.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{
    <row>
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            <h3> @Html.DisplayNameFor(model => model.BottomName)</h3>
            @Html.DisplayFor(modelItem => item.BottomName)
        </div>


        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            <h3> @Html.DisplayNameFor(model => model.BottomSeason)</h3>
            @Html.DisplayFor(modelItem => item.BottomSeason)
        </div>
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            <h3>@Html.DisplayNameFor(model => model.BottomOccasion)</h3>
            @Html.DisplayFor(modelItem => item.BottomOccasion)
        </div>

        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            @Html.ActionLink("Edit", "Edit", new { id = item.BottomsID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BottomsID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BottomsID })
        </div>
    </row>
    <row>
        <div class="col-xs-12, col-sm-12, col-md-12, col-lg-12">
            </div>
        </row>
            }



