@model IEnumerable<WardrobeWeb.Models.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)

{
    <row>
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
           <h3> @Html.DisplayNameFor(model => model.ShoeName)</h3>
            @Html.DisplayFor(modelItem => item.ShoeName)
            </div>

            
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
           <h3> @Html.DisplayNameFor(model => model.ShoeSize)</h3>
            @Html.DisplayFor(modelItem => item.ShoeSize)
            </div>

            
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            <h3>
                @Html.DisplayNameFor(model => model.ShoeSeason)</h3>
                @Html.DisplayFor(modelItem => item.ShoeSeason)
</div>
            
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            <h3>
                @Html.DisplayNameFor(model => model.ShoeOccasion)</h3>
                @Html.DisplayFor(modelItem => item.ShoeOccasion)
</div>
            
        <div class="col-xs-12, col-sm-12, col-md-6, col-lg-3">
            @Html.ActionLink("Edit", "Edit", new { id = item.ShoeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ShoeID })
            </div>
        </row>
    
}


